* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    padding: 0 32px;
    position: sticky;
    top: 0;
    z-index: 1;

    background-color: purple;
    color: white;
}

#logo {
    text-decoration: none;

    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 200px;
    padding: 16px 32px;
    gap: 10px;

    background-color: purple;
    color: white;
}
