* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 58px;
    background-color: purple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 300px;
    background-color: orange;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
