button {
    border: none;
    width: 100%;
    height: 48px;

    font-size: 12px;
    font-family: 'Roboto', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.btn-pink {
    background-color: #da0175;
    color: white;
}
