* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 10px;
    height: 600px;
    background-color: purple;

    margin-top: 50px;
    margin-left: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
    align-content: space-between;
}

.item {
    background-color: orange;
    width: 100px;
    height: 70px;
    border-radius: 7px;
    border: 2px solid lightgray;
    font-size: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
}
