h1 {
    color: blue;
}

h1::before {
    content: '"';
}

h1::after {
    content: '."';
}

input {
    width: 300px;
    height: 40px;
    font-size: 20px;
}

input::placeholder {
    font-size: 14px;
    color: red;
}
