<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <style>
            h1 {
                color: blue;
            }
        </style>
    </head>
    <body>
        <h1>Você fez Login na API da Aula de Envio de E-mails {{nomeusuario}}?</h1>
        <p>Alguém acabou de fazer o login. Se não foi você, resete sua senha.</p>
    </body>
</html>
