main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    width: 100vw;
    height: 100vh;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register input {
    width: 25rem;
    height: 3rem;
    margin-bottom: 0.2rem;
}

.register-btn {
    width: 25.5rem;
    height: 3rem;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 25rem;
    height: 50%;

    border: 1px solid #d3d3d3;
}

.users strong {
    margin-top: 1rem;
    font-size: 24px;
    height: 2rem;
}

.users div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    margin-bottom: 0.5rem;
}
