.App {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;

    height: 100vh;
}

.App div div {
    display: flex;
    gap: 10px;

    margin-top: 10px;
}
