.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.container section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

.right,
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
}

.left {
    border-right: 1px solid #d3d3d3;
}

.left form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left input,
button {
    width: 250px;
    height: 30px;
}

.left input {
    margin-bottom: 10px;
    padding: 3px;
}

.right strong {
    font-size: 28px;
    margin-bottom: 50px;
}

.user-names {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 500px;
    width: 80%;

    border: 1px solid #d3d3d3;
}

.success {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 60px;
    position: absolute;
    bottom: 10px;

    background-color: #008000;
    color: #fff;
    border-radius: 8px;
}
