.container-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.old {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;

    color: #aba0a0;
}

.current {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;

    color: #000;
}

.container-installments {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.installments {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;

    color: #000;
}

.interests {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;

    color: #000;
}
