* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    width: 100%;
    height: 58;
    background-color: rgb(2, 2, 37);

    padding: 18px 32px;
}

.header a {
    color: white;
}

.section {
    padding: 25px 32px;
    color: rgb(71, 68, 68);
}

.card-product {
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 300px;
    border: 1px solid lightgray;
    padding: 10px;
    margin-right: 10px;

    cursor: pointer;
}

.card-product img {
    width: 100%;
    height: 220px;
}

.footer {
    background-color: rgb(2, 2, 37);
    width: 100%;
    height: 200px;
    text-align: center;

    padding: 90px;
}

.footer a {
    color: white;
    text-transform: uppercase;
}
