.external {
    width: 400px;
    height: 400px;
    background-color: purple;
}

.internal {
    width: 50%;
    height: 100%;
    background-color: pink;
}

h1 {
    color: purple;
    background-color: lightgray;
    font-size: 50px;
}

h1.orange {
    color: orange;
}

h1#quarto-h1 {
    font-size: 45px;
    font-style: italic;
}

h1.orange.big#quarto-h1 {
    background-color: lightcyan;
}

h1.orange.big.high {
    background-color: indigo;
}
