.form-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid lightgray;
  width: 400px;
  height: 350px;
  padding: 16px;
}

.form-sign-in button {
  margin-top: 32px;
}

.form-sign-in input {
  margin-top: 5px;
}

.form-sign-in h2 {
  margin-bottom: 32px;
}