* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

header {
    height: 58px;
    width: 100%;
    background-color: purple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

header ul li a {
    color: white;
}
