* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2f3e43;
}

h2 {
    color: #ffffff;
    margin-top: 50px;
    margin-left: 180px;
}

.menu ul {
    margin-top: 50px;
    margin-left: 100px;
    list-style: none;
    background-color: #38495c;
    width: 450px;
    height: 42px;
    border-radius: 7px;
}

.menu ul li {
    display: inline-block;
    height: 42px;
    min-width: 80px;
    text-align: center;
}

.menu ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 15px 0 15px;
    height: 100%;
}

.menu ul li a:focus {
    text-decoration: none;
    background-color: #45bc9d;
    border-radius: 7px;
}
